In [1]:
import pandas as pd

In [3]:
X_train = pd.read_csv("X_train.csv", index_col=0)

In [28]:
X_train.describe()

,aa,aa aa,aaa,aaron,ab,abandon,abandon sanction,abc,abella,abella danger,...,zion,zip,zoe,zombie,zombie fucking,zone,zonestreamcx,zoom,zsmitty,zuckerberg
count,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,...,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000,59744.000000
mean,0.000034,0.000021,0.000115,0.000055,0.000127,0.000237,0.000109,0.000054,0.000032,0.000030,...,0.000071,0.000095,0.000139,0.000661,0.000060,0.000384,0.000087,0.000284,0.000029,0.000122
std,0.004436,0.003704,0.006377,0.004144,0.008377,0.008125,0.006038,0.003976,0.002295,0.002213,...,0.005554,0.007033,0.007871,0.018147,0.005743,0.012449,0.005976,0.011411,0.002170,0.006863
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.762633,0.725139,0.684113,0.381590,0.808639,0.387195,0.413852,0.458705,0.194972,0.196588,...,0.522008,0.771459,0.725596,1.000000,0.747656,0.781840,0.490559,0.846361,0.174690,0.524169

In [27]:
X_train.head(5)

,aa,aa aa,aaa,aaron,ab,abandon,abandon sanction,abc,abella,abella danger,...,zion,zip,zoe,zombie,zombie fucking,zone,zonestreamcx,zoom,zsmitty,zuckerberg
8581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
new_df = pd.DataFrame(columns=X_train.columns)

In [32]:
new_df.head(5)

Empty DataFrame
Columns: [aa, aa aa, aaa, aaron, ab, abandon, abandon sanction, abc, abella, abella danger, ability, able, able load, able play, able stream, abnormal, aboard, absence, absolute, absolute good, absolute shit, absolutely, absolutely amazing, absolutely brilliant, absolutely incredible, absolutely love, absolutely pathetic, absolutely worth, absurd, abt, abuse, abuser, abusive, abysmal, ac, ac game, ac rogue, ac valhalla, academy, acc, accelerate, acceleration, accent, accept, acceptable, access, access health, accessibility, accessible, accessory, accident, accidental, accidentally, accidentally order, accomplish, accord, account, account account, account ban, account follow, account hack, account invalid, account link, account phone, account time, accountable, accurate, accusation, accuse, accuse verizon, ace, acer, acer nitro, achieve, achievement, achievement assassin, achievement battlefield, achievement red, acid, acknowledge, acnh, acquire, acquisition, act, act like, act right, actical, action, action game, action lawsuit, action movie, activate, active, actively, activision, activision blizzard, activity, actor, actual, actual fuck, ...]
Index: []

[0 rows x 10000 columns]

In [33]:
new_df.to_csv("headers_only.csv", index=False)

In [42]:
loaded_df = pd.read_csv("headers_only.csv")

In [43]:
loaded_df.head(5)

Empty DataFrame
Columns: [aa, aa aa, aaa, aaron, ab, abandon, abandon sanction, abc, abella, abella danger, ability, able, able load, able play, able stream, abnormal, aboard, absence, absolute, absolute good, absolute shit, absolutely, absolutely amazing, absolutely brilliant, absolutely incredible, absolutely love, absolutely pathetic, absolutely worth, absurd, abt, abuse, abuser, abusive, abysmal, ac, ac game, ac rogue, ac valhalla, academy, acc, accelerate, acceleration, accent, accept, acceptable, access, access health, accessibility, accessible, accessory, accident, accidental, accidentally, accidentally order, accomplish, accord, account, account account, account ban, account follow, account hack, account invalid, account link, account phone, account time, accountable, accurate, accusation, accuse, accuse verizon, ace, acer, acer nitro, achieve, achievement, achievement assassin, achievement battlefield, achievement red, acid, acknowledge, acnh, acquire, acquisition, act, act like, act right, actical, action, action game, action lawsuit, action movie, activate, active, actively, activision, activision blizzard, activity, actor, actual, actual fuck, ...]
Index: []

[0 rows x 10000 columns]

: